body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.first-section {
    background-color: #1F2937;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9faf8;
    margin-bottom: 0;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

h2, .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    max-width: 90px;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    background-color: #3882f6;
    color: #E5E7EB;
}

.header, .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links {
    gap: 30px;
}

.hero-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    padding-bottom: 50px;
}

.hero-main {
    max-width: 400px;
}

.second-section {
    background-color: #d8eaec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.image-content {
    display: flex;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-row {
    border: 3px solid rgb(19, 190, 203);
    border-radius: 10px;
}

.random-title {
    color: #1F2937;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.caption {
    text-align: center;
    font-size: 18px;
    color: rgb(77, 73, 73);
    font-weight: bold;
    margin-top: 8px;
}

.third-section {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    max-width: 60%;
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-source {
    width: 60%;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 20px; 
}

.fourth-section {
    background-color: #d8eaec;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3882f6;
    border-radius: 10px;
}

.left {
    color: #E5E7EB;
}

.bigger {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}

.smaller {
    font-weight: lighter;
    margin-top: 0;
    padding-top: 0;
}

.second-button {
    width: 90px;
    height: 20px;
    background-color: #3882f6;;
    border: 3px solid #E5E7EB;
    color: #E5E7EB;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 20px;
}